<header>
    <h1>Gerações de Games - Pokémon</h1>
</header>
<section>
    <p-table [columns]="cols" [value]="generation">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <span *ngIf="col.field === 'name'">
                        {{rowData['name']}}
                    </span>
                    <span *ngIf="col.field === 'url'">
                        <p-button label="Click" class="p-button-info" routerLink="/games/detail/{{rowData.name}}"></p-button>
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</section>
