@import "../../../../../sass/variables";
@import "../../../../../sass/mixins";

#page-not-found {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: $dark-blue;

    img {
      margin: 15px;
    }
    h1 {
      color: $dark-blue;
      text-align: center;
      margin-top: 20px;
      font-weight: bold;
      font-size: 1.5em;
    }

    span {
      font-size: 150px;
    }
  }
}
