@import "../../../sass/variables";
@import "../../../sass/mixins";

#page-generation-detail {
  header{ 
    align-items: center;
    justify-content: center;
    display: flex;
  }

  h1.title__header {
    font-size: 1.5em;
    color: $blue;
    font-weight: bold;
    width: 30ch;
    animation: typing 2s steps(19), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  section.container {
    padding: 20px;
    border-radius: 3px;
    background: $white;
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid $blue;
  }

  //scrolbar
  ::ng-deep .p-scrollpanel .p-scrollpanel-bar {
    background: $blue;
    border: 0 none;
  }

  li,
  .title__content {
    font-family: $roboto-mono;
  }

  li {
    padding: 5px;
  }

  .title__content {
    font-weight: bold;
    padding: 10px 0;
  }

  .content{
    text-transform: capitalize;
  }

  @include centralize-title-animation(1040px, 25ch, 1.5em);
  @include centralize-title-animation(950px, 20ch, 1.5em);
  @include centralize-title-animation(800px, 20ch, 1.2em);
  @include centralize-title-animation(665px, 19ch, 1.1em);
  @include centralize-title-animation(600px, 18ch, 1em);
  @include centralize-title-animation(600px, 18ch, 1em);
  @include centralize-title-animation(550px, 17ch, 1em);
  @include centralize-title-animation(511px, 16ch, 0.7em);
}
