
<section class="content-detail">
    <header>
        <h1 class="title-detail">{{ games.name | generation }} </h1>
    </header>
    
    <div>
        <p-divider type="dashed"></p-divider>
        <p>Principal Região: {{ games.main_region.name }}</p>
        <p-divider type="dashed"></p-divider>
        <p>Movimentos: {{ games.moves.length }}</p>
        <p-divider type="dashed"></p-divider>
        <p-scrollPanel [style]="{width: '100%', height: '200px'}" styleClass="custom">
            <p>Pokémons: </p>
            <p>Total: {{ games.pokemon_species.length}}</p>
            <div *ngFor="let specie of species">
                <ul>
                    <li>{{ specie.name }}</li>
                </ul>
            </div>
        </p-scrollPanel>
        <p-divider type="dashed"></p-divider>
        <p>Tipos: </p>
        <div *ngFor="let type of types">
            <ul>
                <li>{{ type.name }}</li>
            </ul>
        </div>
        <p-divider type="dashed"></p-divider>
        <p>Versões: </p>
        <div *ngFor="let version of versions">
            <ul>
                <li>{{ version.name }}</li>
            </ul>
        </div>
    </div>
</section>